:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.btn.btn-outline-light{
  border-width: 4px;
}

.form-check-input {
  outline: 2px solid aliceblue;
}